.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

/*Typography */
h1 {
    font-family: "Fuzzy Bubbles";
    font-size: 100px;
    color: azure;
    padding-top: 20px;
  }
  
  h3,
  p {
    color: azure;
    margin-bottom: 20px;
    font-family: "Fuzzy Bubbles";
  }
  
  /*Background wallpaper */
  body {
    background: url('/workspace/BMorrell_Milestone_Project3/assets/images/Note taking.gif') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
  }