@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

/*Misc Custom formatting*/
.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

nav.nav-extended {
  height: 70px;
}

/*Typography */
nav .brand-logo {
    font-family: "Freehand";
    font-size: 50px;
    color: rgb(255, 240, 240);
  }
  
  h3, p, a {
    color: azure;
    margin-bottom: 20px;
    font-family: "Fuzzy Bubbles";
  }
  
  .introduction {
    color: black;
    margin-bottom: 20px;
    font-family: "Fuzzy Bubbles";
    display: flex;
  }

  .text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  /*Background color */
  body {
    background-color: papayawhip;
  }


  /*Materlize CSS to keep footer at the bottom of the page */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

