{% extends "base.html" %}
{% block content %}

<p class="introduction center-align">
    Welcome to LogIt - the online notebook that puts the 'fun' in functional! Are you tired of scribbling down notes on scrap paper or losing important reminders in the depths of your email inbox? Well, fear not! With LogIt, you can create, read, update, and delete notes all in one convenient location.<br>
    <br>
    
    But wait, there's more! Our website is so user-friendly, even your grandma could use it. Whether you're a busy student, a scatterbrained professional, or just someone who loves to jot down random thoughts, LogIt is here to simplify your life.
    
    With LogIt, you'll never have to worry about forgetting important information again. Plus, our sleek and stylish design will make you feel like the boss you truly are. So, what are you waiting for? Sign up for LogIt today and start taking control of your notes - one click at a time!
</p>

<div class="row">
    <p class="center-align">
    <a class="center-align waves-effect waves-light btn-large" href="{{ url_for('register') }}">Register</a>
    </p>
</div>

{% endblock %}
