{% extends "base.html" %}

{% block content %}
    
    <!-- Search form with a search bar and two buttons -->
    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Notes</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_notes') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Iterate over search results and display them in collapsible list -->
    {% for note in notes %}
        <!-- Only show notes created by current user -->
        {% if session.user|lower == note.created_by|lower %}
            <ul class="collapsible">
                <li>
                    <!-- Note header with delete and edit buttons -->
                    <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                        <div class="col s3">
                            <i class="fas fa-caret-down"></i>
                            <a class="btn-small modal-trigger confirm" href="#modal1">Delete</a>
                            <a href="{{ url_for('edit_note', note_id=note._id) }}" class="btn-small green lighten-1">Edit</a>
                        </div>
                        <!-- Modal to confirm note deletion -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <h4>You might of clicked me by mistake.</h4>
                                <p>Are you sure you want to delete this note?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('delete_note', note_id=note._id) }}" class="confirm">Yes </a> 
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
                            </div>
                        </div>
                        <div class="col s9">
                            <!-- Note name, date, and high importance indicator -->
                            <strong>{{ note.note_name }}</strong> : {{ note.note_date }}
                            {% if note.high_importance == "on" %}
                                <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                                    data-position="right" data-tooltip="High Importance"></i>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Note body with category, description, and creator -->
                    <div class="collapsible-body">
                        <strong>{{ note.category_name }}</strong>
                        <p>{{ note.note_description }}</p>
                        <p><em>by: {{ note.created_by }}</em></p>
                    </div> 
                </li>  
            </ul>
        {% endif %}
    {% else %}
        <!-- Display message if no search results -->
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endfor %}

{% endblock %}
